/**Reset CSS*/
body, html {
  height: 100%;
  margin: 0;
  overflow: auto;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --background-color: rgb(250,240,230);
  --primary-text-color:#ecfccb;
}

body {
  background-color: var(--background-color);
  background-image: url('file:///C:/Users/chepu/Downloads/top-view-arrangement-cinema-elements-yellow-background-with-copy-space.jpg');  /* Corrected URL format */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;  /* Set the desired height for the background */
  /* Add additional styling as needed */
}

main{
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
